
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.top {
    margin-bottom: 1em;
}
.border {
    border-bottom: 1px solid #999;
}
.left-space {
    padding-left: 10px;
}

#map {
    height: 100%;
}
#panel {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    z-index: 5;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
    font-size: 12px;
    font-family: 'Lucida Console', Monaco, monospace;
}
#undo {
    margin-top: 1em;
}

